<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>SamplePagination</display-name>
	<servlet>
		<servlet-name>JqueryDatatablePluginDemo</servlet-name>
		<servlet-class>com.sample.JqueryDatatablePluginDemo</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>JqueryDatatablePluginDemo</servlet-name>
		<url-pattern>/com/sample/JqueryDatatablePluginDemo.java</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>/WEB-INF/views/viewDatatable.jsp</welcome-file>
	</welcome-file-list>
</web-app>